*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background: var(--white);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  /* max-width: 1158px; */
  max-width: 320px;
  width: 100%;
  padding-inline: 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
    padding-inline: 15px;
  }
}

.section {
  padding-block: 96px;

  @media screen and (min-width: 1158px) {
    padding-block: 120px;
  }
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.accent {
  color: var(--iris);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* .item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: 24px;
  right: 24px; */
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
}

.close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--white);
}

.header {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header-logo {
  padding: 24px 0;
}

/* .header-logo:hover,
.header-logo:focus {
} */

.header-nav-list {
  display: none;
  gap: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

/* .header-nav-item {
} */

.header-nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.current {
  color: var(--ocean);
}

.header-nav-link.current::after {
  content: '';
  position: absolute;
  background: var(--ocean);
  height: 4px;
  border-radius: 2px;
  width: 100%;
  left: 0;
  bottom: -1px;
}

.contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 40px;
  }
}

.contacts-item {
  display: block;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--slate);
  padding-block: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1158px) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.header-menu-open {
  background-color: transparent;
  border: none;
}

.header-menu-open-icon {
  fill: #2f2f37;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero-section {
  display: block;
  background-color: var(--navy-blue);
  justify-content: center;
  padding-block: 72px;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg-mob.jpg');

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-mob-2x.jpg');
  }
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    padding-block: 112px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-tab.jpg');

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
      background-image:
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero-bg-tab-2x.jpg');
    }
  }

  @media screen and (min-width: 1158px) {
    padding-block: 188px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-desktop.jpg');

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
      background-image:
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero-bg-desktop-2x.jpg');
    }
  }
}

.hero-title {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  width: 216px;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    width: 496px;
    height: 120px;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* .features-section {
} */

/* .features-container {
}

.features-title {
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 72px 24px;
  }
}

.features-item {
  width: 100%;
  max-width: 288px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - (3 * 24px)) / 4);
    /* padding-bottom: 0px; */
  }
}

.features-icon-box {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
  }
}

/* .features-item-icon {
} */

.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);

  @media screen and (min-width: 1158px) {
    font-weight: 400;
  }
}

.team-section {
  background: var(--cloud);
}

.team-container {
  padding-inline: 28px;

  @media screen and (min-width: 768px) {
    padding-inline: 108px;
  }

  @media screen and (min-width: 1158px) {
    padding-inline: 15px;
  }
}

.team-title {
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  gap: 72px;
  width: 100%;

  @media screen and (min-width: 768px) {
    gap: 64px 24px;
  }

  @media screen and (min-width: 1158px) {
    gap: 24px;
  }
}

.team-item {
  background: var(--white);
  width: 100%;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - (3 * 24px)) / 4);
  }
}

.team-item-container {
  padding: 32px 16px;
}

.team-img {
  margin: 0 auto;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* .team-social-item {
} */

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

.team-social-icon {
  fill: var(--cloud);
}

.portfolio-section {
  background: var(--white);
}

.portfolio-title {
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  @media screen and (min-width: 768px) {
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    gap: 48px 24px;
  }
}

.portfolio-item {
  background: var(--white);
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - (2 * 24px)) / 3);
  }
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;

  @media screen and (min-width: 768px) {
    width: 356px;
    height: 300px;
  }

  @media screen and (min-width: 1158px) {
    width: 360px;
  }
}

.portfolio-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center center;
}

.portfolio-overlay {
  position: absolute;
  padding: 40px 32px;
  background: var(--iris);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item-container {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer {
  background: var(--navy-blue);
  padding-block: 96px;

  @media screen and (min-width: 1158px) {
    padding-block: 100px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;

  @media screen and (min-width: 768px) {
    justify-content: left;
    padding-inline: 108px;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    padding-inline: 15px;
    align-items: baseline;
    gap: 0;
  }
}

.footer-thumb {
  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.footer-logo {
  display: flex;
  justify-self: center;
  text-align: center;
  color: var(--cloud);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    justify-self: left;
  }
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--cloud);
  max-width: 264px;
}

.footer-social {
  @media screen and (min-width: 768px) {
    width: 208px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.footer-social-text {
  justify-self: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    justify-self: left;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-item {
  display: flex;
}

.footer-social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

/* .footer-social-icon {
} */

.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 288px;
  gap: 16px;

  @media screen and (min-width: 768px) {
    justify-content: left;
    max-width: 453px;
  }
}

.footer-subscribe-text {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);

  @media screen and (min-width: 768px) {
    text-align: left;
    justify-content: left;
  }
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
}

.footer-form-input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 288px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.footer-form-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-form-input:focus {
  border-color: var(--green);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  background: var(--iris);
  border-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--green);
}

.footer-button-icon {
  fill: var(--white);
}

.menu-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 24px 24px 40px 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* .menu-close-icon {
} */

.menu-nav {
  display: block;
  margin-top: 48px;
}

.menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

/* .menu-nav-item {
} */

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.menu-nav-link.current {
  color: var(--ocean);
}

/* .current {
} */

/* .menu-modal-wrapper {
} */

.menu-contacts {
  margin-bottom: 48px;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* .menu-contacts-item {
} */

.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: var(--iris);
}

.menu-social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 0px;
}

/* .menu-social-item {
} */

.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-link:hover,
.menu-social-link:focus {
  background-color: var(--ocean);
}

.menu-social-icon {
  fill: var(--cloud);
}

.backdrop {
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open,
.menu-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dairy);
  /* width: 100%;
  max-width: 517px; */
  /* width: 408px; */
  /* min-width: 288px; */
  min-height: 584px;
  border-radius: 4px;
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px 16px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 24px;
  right: 24px;
  /* border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
}

.modal-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--white);
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
  max-width: 360px;
} */

/* .modal-form {
  gap: 8px;
} */

.modal-field {
  margin-bottom: 8px;
}

.modal-textarea-field {
  margin-bottom: 16px;
}

.modal-field-wrapper {
  position: relative;
}

.modal-input {
  border: 1px solid var(--navy-blue-modal);
  padding: 8px 16px 8px 38px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  fill: var(--cloud);
  transition:
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navy-blue);
}

.modal-input:focus {
  outline: transparent;
  border-color: var(--iris);
}

.modal-label {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-input-icon {
  fill: transparent;
  stroke: transparent;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}

.modal-textarea {
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-check {
  width: 16px;
  height: 16px;
}

.modal-check-label {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  /* position: relative; */
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.check-mark {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label .check-mark {
  background-color: var(--ocean);
  border-color: var(--ocean);
}

.modal-check:checked + .modal-check-label .check-icon {
  fill: var(--cloud);
}

.modal-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  border-radius: 4px;
  padding: 16px 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  border: transparent;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean);
}
